<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ServiceConsole.Service" behaviorConfiguration="SampleService.ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:60888/SampleService.Service/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="http://localhost:60888/SampleService.Service/" binding="webHttpBinding" behaviorConfiguration="xmlorjsonBehavior" contract="ServiceConsole.IService">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="xmlorjsonBehavior">
          <webHttp automaticFormatSelectionEnabled="true" defaultBodyStyle="Bare"/>
          <!-- json or xml-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SampleService.ServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>